.btn {
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 5px;
  width: 150px;
  margin: 20px 5px;

  &:hover{
   background-color: #e53535;
  border: 1px solid #e53535;
  box-shadow: 2px 3px 2px 2px;
  outline: none;
}
  &.active{
   background-color: #e53535;
  border: 1px solid #e53535;
}
}


// .btn.active{
//    background-color: #4a84cc;
//   border: 1px solid #4a84cc;
//   }

  .btnActive{
    composes:btn;
      background-color: #4a84cc;
  border: 1px solid #4a84cc;
  
  }

/* .btn:hover {
    color: #fff;
  width: 150px;
  max-width: 100%;
  box-shadow: 2px 0px 8px 5px #e2dbdf;
  letter-spacing: 0.2em;
  background-color: #a4b9c1;
}

.btn:focus {
  box-shadow: 2px 3px 2px 2px;
  outline: none;
} */
