.campersList{
    margin: 20px 0;
    list-style: none;
}

.campersListItems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: rgb(82, 82, 142);
    width: 450px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgb(221, 239, 239);
}

img{
    width: 290px;
    height: 310px;
    width: fit-content;
    align-items: center;
}