@import-normalize;


body{
    margin: 0;
    background-color: #9fb3c7;
}

.app{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 25px;
    margin: 0 16px;
    align-items: baseline;
    color: #347800;
    background-color: #33aacc;
}