.sectionSearchBar{
    /* color: blue; */
    width: 360px;
    border: 1px solid var(--main);
    border-radius: 5px;
}
.sbLoc {
  position: relative; 
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  
}

.iconLocation {
    width: 18px;
    height: 20px;
    fill: transparent;
  position: absolute;
  left: 10px; 
  pointer-events: none; 
}

.location {
    border-radius: 10px;
padding: 18px 21.8px 18px 18px;
max-width: 360px;
width: 100%;
max-height: 56px;
background: var(--inputs);
  padding-left: 40px; 
  outline: none;
}