/* .wrap{
background-color: rgb(192, 190, 193);
display: flex;
flex-direction: row;
gap: 24px;
} */
.features {
  display: flex;
  flex-direction: row;
  gap: 24px;
  /* justify-content: space-evenly; */
  /* padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; */
  }

  .details{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 430px;
  }
  
.featuresList {display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  /* color: red; */
  /* background-color: blue; */
}


.featureItem {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 100px;
  padding: 12px 18px;
  /* width: 126px; */
  width: fit-content;
  max-height: 44px;
background: var(--block-features);
mix-blend-mode: multiply;  }


    .featureIcon{
      width: 20px;
      height: 20px;
    stroke-width: 1.50px;
    stroke: var(--main);  
    fill: transparent;
    }

    .line{
margin: 24px 0;
    }
.featureLabel {
  font-weight: bold;
}

.vehicleDetails {
  display: flex;
  flex-direction: column;
  margin-top: 44px;

}

.detailsTitle {
  font-weight: bold;
  margin-bottom: 10px;
}

.detailsList {
display: flex;
flex-direction: column;
gap: 14px;
}

.detailsList li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.detailsList span {
  margin-left: 10px;
}

.form{
  display: flex;
}