
.footer {
  font-family: Inter, serif;
  background-color: #a7c8cd;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999; /* Підвищимо z-index, щоб футер був поверх контенту */
  transition: transform 0.3s; /* Додаємо перехід для плавності зниження футера */
}

.footer.collapsed {
  transform: translateY(100%);
}
