
.container{
    /* padding: 0 16px; */
    background-color: #a7c8cd;
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    
}

.title{
    padding-top: 10px ;
    text-align: center;
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 38px;
}

.wrap{
    display: flex;
    gap: 260px;
    margin-top: 20px;
}

.img{
    background-image: url(../../assets/img/camp1.jpg);
    width: 550px;
    height: auto;
    margin-left: 50px;
    
    /* width: 100%; */
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: start; */
    gap: 8px;
};

.item{

}