.container {
  display: flex;
  flex-direction: column;
}

.title{
   
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
}


.iconLine {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 360px; 
}

.checkboxButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
}

.checkboxButton {
  border: 1px solid rgba(16, 24, 40, 0.2);
  background-color: #fff;
  border-radius: 10px;
  padding: 17px 40px;
  width: 112px;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.checkboxButton input[type="checkbox"] {
  display: none;
}

.checkboxButton label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkboxButtonText {
  margin-top: 8px;
}


.iconLine svg {
  stroke-width: 1px;
  stroke: rgba(16, 24, 40, 0.1);
width: 100%;
}
.icon {
  fill: transparent;
  stroke: var(--main);
  width: 30px;
}

.checkboxButton {
  /* Початкові стилі для кнопок */
  /* background-color: transparent; */
  /* border: 1px solid transparent; */
  transition: border-color 0.3s ease;
}

.checkboxButton:hover {
  border-color: var(--button); /* Бордер при наведенні */
}

.checkboxButton input[type="checkbox"] {
  display: none; /* Приховати сам чекбокс */
  
}

.checkboxButton input[type="checkbox"]:checked + label {
  border-color: var(--button); /* Бордер при натисканні */
  
}

/* .checkboxButton input[type="checkbox"]:checked + .radioButtonLabel {
  border: 1px solid var(--button);
} */
.checkboxButton input[type="checkbox"]:checked + label {
  border: 1px solid var(--button);
}


.checkboxButton label {
  /* Стилі для лейбла, який відображається над чекбоксом */
  display: flex;
  align-items: center;
}

.checkboxButton label .icon {
  margin-right: 8px; /* Відступ між іконкою та текстом */
}
